.nayana{
    background-color: blue;
}
.vijay{
    background-color: yellow;
}
.vs{
    background-color: green;
}
.alia{
    background-color:red;
}
.radhika{
    background-color: orange;
}
#rajni{
    background-color: aqua;
}